<!DOCTYPE html>
<html>
<head>
    <style>
        .navbar{
            margin-bottom:0;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalRMessager</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/siteA.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SignalRMessenger</a>
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Group" asp-action="Index">Groups</a></li>
                    <li class="dropdown"  onclick="getGroups(false, 'groupList', '')">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MyGroups</a>
                        <ul class="dropdown-menu" id="groupList"></ul>
                    </li>
                    <li class="dropdown"  onclick="getGroups(true, 'contactList', '')">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MyContacts</a>
                        <ul class="dropdown-menu" id="contactList"></ul>
                    </li>
                    <li class="dropdown form-group form-inline" style="padding-top:8px;">
                        <select id="groupType" class="form-control form-inline form-group-sm list-group contact-dropdown">
                            <option class="list-group-item contact-dropdown-item" value="true">Contacts</option>
                            <option class="list-group-item contact-dropdown-item" value="false">Groups</option>
                        </select>
                    </li>
                    <li>
                        <form class="form-group form-inline form-group-sm" style="padding-top:8px;">
                            <input type="text" value="" id="searchInput" class="form-control form-control-sm" style="cursor:text;"/>
                            <input type="submit" value="Search" style="background-color: #222222; color:#ffffff;" class="dropdown-toggle btn" data-toggle="dropdown" href="#" onclick="getGroups(true, 'searchList', '');" />
                            <ul class="dropdown-menu" id="searchList"></ul>
                        </form>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/siteA.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    <script src="~/js/layoutA.js"></script>
    <script>
        var searchList = document.getElementById("searchList");
        var searchInput = document.getElementById("searchInput");
        var DMDropDown = document.getElementById("groupType");
        var currentUserId = '@ViewBag.Id';

        function getGroups(DM, list, search) {
            getGroup(DM, list, search);
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
