@model SignalRMessager.Models.Member

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>

<h4>Add User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" id="GId" />
            <input type="hidden" asp-for="DM" id="DM" />
            <label asp-for="UserId" class="control-label col-sm-4">Add User</label>
            <select asp-for="UserId" class="form-control dropdown" asp-items="@Model.Users" id="UId">
                <option value="default">Pick one</option>
            </select>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" asp-route-model="@Model" class="btn btn-default" id="submit" />
            </div>
        </form>
        <ul id="userList"></ul>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/manageUserA.js"></script>
